<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The login form</title>
</head>
<body>
    <form action="/result" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="number" name="userid" placeholder="User's id">
        <button type="submit">
            Click here to submit
        </button>
    </form>
</body>
</html>