<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The project's login form</title>
</head>
<body>
    <form action="/savinginfs" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="number" name="age" placeholder="age">
        <button type="submit">
            Click here to save your informations!
        </button>
    </form>
</body>
</html>