<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginform.css') }}">
</head>
<body>
<div class="card">
    <form action="/welcomeback" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <button type="submit">
            Login
        </button>
    </form>

    <form action="/register" method="post" class="register">
        <h4>Don't you have an account?</h4>

        <button type="submit">
            Create Account!
        </button>
    </form>

</div>
</body>
</html>