<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginform.css') }}">
</head>
<body>
    <form action="/result" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="number" name="userid" placeholder="Userid">
        <button type="submit">
            Please click here to login
        </button>
    </form>
</body>
</html>