<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding users!</title>
</head>
<body>
    <form action="/added" method="post">
        <input type="text" name="username" placeholder="Username">
        <button type="submit">
            Click here to add users
        </button>
    </form>

    <br>

    <form action="/find" method="post">
        <input type="text" name="username" placeholder="Finduser">
        <button type="submit">
            Click here to find users which you want!
        </button>
    </form>

    <br>

    <form action="/updateusername" method="post">
        <input type="text" name="oldusername" placeholder="Current username">
        <input type="text" name="newusername" placeholder="New username">

        <button type="submit">
            Click to save infs!
        </button>
    </form>
</body>
</html>