<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLAlchemy Practice</title>
</head>
<body>
    <form action="/addposts" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="post" placeholder="Write your own post!">
        <button type="submit">
            Click to save your post!
        </button>
    </form>

    <h2>Add User</h2>
    <form action="/added" method="POST">
        <input type="text" name="username" placeholder="Username">
        <button type="submit">Add User</button>
    </form>

    <hr>

    <h2>Find User</h2>
    <form action="/find" method="POST">
        <input type="text" name="username" placeholder="Username">
        <button type="submit">Find User</button>
    </form>

    <hr>

    <h2>Update User</h2>
    <form action="/updateusername" method="POST">
        <input type="text" name="oldusername" placeholder="Current Username">
        <input type="text" name="newusername" placeholder="New Username">
        <button type="submit">Update User</button>
    </form>

    <hr>

    <h2>Delete User</h2>
    <form action="/deleteuser" method="POST">
        <input type="text" name="deleteduser" placeholder="Username">
        <button type="submit">Delete User</button>
    </form>

    <br>

    <form action="/myposts" method="post">
        <input type="text" name="userposts" placeholder="See all of your posts!">
        <button type="submit">
            Please click to see your posts!
        </button>
    </form>

    <br>

    <form action="/showall" method="post">
        <button type="submit">
            Show all users!
        </button>
    </form>

</body>
</html>